

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">ClicknShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/electronics" routerLinkActive="active">Electronics <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/personal" routerLinkActive="active">Personal Care</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/garments" routerLinkActive="active">Garments</a>
                </li>

            </ul>
            <div class="icon">
                    <img src="assets/images/shopping_cart.png" alt="none" class="cart-icon" [routerLink]="['//cart']" routerLinkActive="active"/>
                    <div class="txt">{{numberofItems}}</div>
                </div>

                        <!-- <input style= "margin-right: 1vw;  width: 18%;" class="form-control mr-sm-2" type="text" placeholder="Search"> -->




        </div>
    </nav>
