 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: rgb(170, 169, 169);
}
.navbar-brand {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #468; 
} 
.icon {
    width:30px; 
    height:30px;
    position: relative;
    margin-right: 3vw;
}
.txt{
    background:yellow; 
    font-size:65%;
    position: absolute;
    top: -12px;
    left: 18px;
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em; 
}
.cart-icon
{    width: 138%;
    height: 103%;

}