



  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <label class="navbar-brand">ClicknShop</label>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/electronics" routerLinkActive="active">Electronics <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/personal" routerLinkActive="active">Personal Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/garments" routerLinkActive="active">Garments</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['//cart']" routerLinkActive="active">My Cart</button>
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
    </div>
  </nav>