/* .cart-main
{
    width: 30vw;
    height: 50vh;
    padding: 1vw;
    display: flex;
    margin: 0;
    border: 2px solid gray
} */
.item-div
{
    border-bottom: 1px solid black;
    padding: 2%;
}
.total-content
{
    border-top: 2px solid grey;
    width: 100%;
    padding: 2%;
}