.item-status-sold
{
    color: red;
}
.item-status-available
{
    color:green;
}
.product-content {
    width: 70vw;
    padding:1vw;
    display: flex;
    align-self: flex-start;
    margin: 0;
    flex-direction: column;
}