.item-status-sold
{
    color: red;
}
.item-status-available
{
    color:green;
}
.product-content {
    width: 70vw;
    padding:1vw;
    display: flex;
    align-self: flex-start;
    margin: 0;
    flex-direction: column;
}
.added-to-cart-text
{
    display: inline-flex;
    font-style: italic;
    color: green;   
}
.inner-div
{
    padding: 8px;
}
td {
    padding: 15px;
    text-align: left;
}